{% extends "base.html" %}
    {% block content %}
        <div class="login_section">
                <form id="formLogin" action="/login/" method="POST">
                    <h2>Login</h2>
                    <div class="form_element">
                        <label>ID: <br></label>
                        <input type="text" name="user" placeholder="ID"></input>
                    </div>
                    <div class="form_element">
                        <label>Password: <br></label>
                        <input type="password" name="password" placeholder="******"></input>
                    </div>
                    <div class="form_element form_element_actions">
                        <div class="form_elements_action_s" >
                            <input type="checkbox"></input>
                            <label>Recuerdame</label>
                        </div>
                        <div class="form_elements_action_s">
                            <input type="submit" id="loginButton" class="login_form" value="Ingresar" onclick="submit();"></input>
                        </div>
                    <div>
                </form>      
        </div>
{% endblock %}