{% extends "./Dashboard/base_dashboard.html" %}
{% block content %}
<h1 class="h3 mb-4 text--800"></h1>
<div class="container">

  <div class="card shadow mb-2">
    <div class="card-header py-3">
      <h3 class="m-0 font-weight-bold text-primary">Comentarios</h3>
    </div>
    <div class="card-body">
      <div class="text-left">
        <header></header>
        <br>
        <p class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus in error ipsum aliquid
          incidunt? Neque molestias, cupiditate iure nemo voluptate pariatur, sapiente nulla laudantium, sunt
          necessitatibus perferendis omnis facere repellat?
        </p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, vero voluptatibus, obcaecati sapiente
          dicta quam impedit alias autem dignissimos voluptas voluptate quidem minus, officia deleniti fugiat sequi
          cupiditate commodi dolores.</p>

        <small>Recursos Humanos</small>
        <br>
        <br>
        <br>

      </div>
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h3 class="m-0 font-weight-bold text-primary">Puntaje</h3>
        </div>
        <div class="card-body">
          <div class="text-center">
          </div>
          <table>
            <colgroup>
              <col span="5">
              <col>
            </colgroup>
            <thead>
              <tr class="tabla-retro">
                <th></th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Meta</th>
                <th>Cumplió?</th>
              </tr>
            </thead>

            <tbody>
              <tr class="tabla-retro">
                <td></td>
                <td>Board</td>
                <td>25</td>
                <td>13</td>
                <td>
                  <label>
                    <input type="checkbox">
                  </label>
                </td>
              </tr>

              <tr class="tabla-retro">
                <td></td>
                <td>Mouse</td>
                <td>38</td>
                <td>25</td>
                <td>
                  <label>
                    <input type="checkbox">
                  </label>
                </td>
              </tr>

              <tr class="tabla-retro">
                <td></td>
                <td>Pantalla</td>
                <td>7</td>
                <td>1</td>
                <td>
                  <label>
                    <input type="checkbox">
                  </label>
                </td>
              </tr>

              <tr class="tabla-retro">
                <td></td>
                <td>Teclado</td>
                <td>40</td>
                <td>30</td>
                <td>
                  <label>
                    <input type="checkbox">
                  </label>
                </td>
              </tr>

              <tr class="tabla-retro">
                <td></td>
                <td>Torres</td>
                <td>3</td>
                <td>15</td>
                <td>
                  <label>
                    <input type="checkbox">
                  </label>
                </td>
              </tr>
            </tbody>
          </table>


        </div>
        <br>
        <br>
        <div class="card-header py-3">
          <h3 class="m-0 font-weight-bold text-primary"></h3>
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h3 class="m-0 font-weight-bold text-primary">Desempeño</h3>
            </div>
          </div>
          <div class="card-body">
            <div class="text-left">
              <p><img src="/static/media/Drbrief.png" width="170" height="130" align="left"> <br>
              <ul type="circle">
                <li>Pepito Perez</p>
                </li>
                <li>
                  <p>Técnico en sistemas</p>
                </li>
                <li>
                  <p>Área de Ventas</p>
                </li>
              </ul>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est unde sapiente vitae corrupti, autem
              repellendus consequuntur repellat nihil temporibus natus aut in iusto! Corporis sapiente architecto nisi
              minus, veritatis eum?</p>
          </div>
        </div>

        <br>
      </div>
    </div>

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Áreas a calificar</h6>
      </div>
      <div class="card-body">
        <h4 class="small font-weight-bold">Puntualidad <span class="float-right">20%</span></h4>
        <div class="progress mb-4">
          <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">Presentación Personal<span class="float-right">40%</span></h4>
        <div class="progress mb-4">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">Trabajo en Equipo <span class="float-right">60%</span></h4>
        <div class="progress mb-4">
          <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">Ventas <span class="float-right">80%</span></h4>
        <div class="progress mb-4">
          <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
            aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">Asistencia <span class="float-right">100%</span></h4>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}