{% extends "base.html" %}
    {% block content %}
        <div class="container">
            <div class="card">
                <img src="../../static/media/chasis.jpg">
                <h4>Chasis Pc</h4><br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            </div>

            <div class="card">
                <img src="../../static/media/board.jpg">
                <h4>MotherBoard</h4><br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            </div>
            
            <div class="card">
                <img src="../../static/media/Monitor.jpg">
                <h4>Monitor</h4><br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            </div>

            <div class="card">
                <img src="../../static/media/mouse.jpg">
                <h4>Mouse</h4><br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            </div>
        </div>
    {% endblock %}