{% extends "base.html" %}
    {% block content %}
        <div class="container">
            <div class="card">
                <h4>Chasis Pc</h4><br>
                <img src="../../static/media/chasis.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit doloremque officiis saepe molestias eum sunt officia animi minus, aspernatur veritatis temporibus ut. Quaerat quod laboriosam ab. Distinctio consequuntur dolorem doloribus.</p>
            </div>

            <div class="card">
                <h4>MotherBoard</h4><br>
                <img src="../../static/media/board.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, repellat quo quidem doloremque consectetur rerum repudiandae. Explicabo, sint. Laborum delectus unde explicabo sint voluptatem? Debitis soluta cum possimus delectus nam!</p>
            </div>
            
            <div class="card">
                <h4>Monitor</h4><br>
                <img src="../../static/media/Monitor.jpg">
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio dicta ut odio quibusdam ipsum, deserunt, recusandae impedit molestiae id omnis esse quam velit dolore aliquid dolorum expedita illo a tempora!</p>
            </div>

           
        </div>
    {% endblock %}