{% extends "base.html" %}

{% block content %}
 <div class="contenedor">
            <H1>HOLIII CONTACTOS</H1>
                </div>       
              </li>
            </ul>
            
            <ul class="menu">
              <li>
                <a href="#slide1">1</a>
              </li>
              <li>
                <a href="#slide2">2</a>
              </li>
               <li>
                <a href="#slide3">3</a>
              </li>
            </ul>
  </div>
{% endblock %}