*{
    margin: 0;
}
.container_grande{
    width: 60%;
    padding-top: 2%;
    padding-bottom: 15%;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
}
.container h1{
    text-align: center;
    padding-bottom: 10px;
}
.container p{
    line-height: 30px;
}
.container_mision, .container_vision, .container_recorrido{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_mision div img, .container_vision div img, .container_recorrido div img{
    border-radius: 10px;
}