*{
    margin: 0;
}
html{
    color: #DFE0E2;
    height: 100%;
}
body{
    color: #DFE0E2;
    font-family: "Open Sans", sans-serif;
    background-image: url("../media/background.png");
    background-size: cover;
    background-repeat: repeat-y;
}
header{
    width: 30%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}
main{
    height: 70vh;
}
#wrapper_header{
    height: 5em;
    background-color: #13192A;
}
.wraper_header_nav{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 5em;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
nav{
    display: inline-flex;
    align-items: center;
}
.nav-link{
    display: flex;
    margin-right: 1em;
    margin-left: 1em;
    height: 1.2em;
    transition: all 0.1s linear;
    align-items: center;
    border-right: 0.5px solid lightgray;
    margin: 0px;
    padding-right: 0.75em;
    padding-left: 0.75em;
}
.nav-link-acordion{
    margin-top: auto;
    margin-bottom: auto;
}
.nav-link-end{
    border-right: none;
}
.nav-link a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:#DFE0E2;
    font-weight: bold;
}
.nav-link a:hover{
    transform: translate( 0, -4px);
    transform: scale(1.05);
    cursor: pointer;
}
.login{
    margin-left: 1.5em;
    font-size: 1em;
    background-color: #7F7CAF;
    color: #DFE0E2;
    font-weight: bold;
    border: none;
    height: 2.5em;
    width: 8em;
    border-radius: 10px;
    transition: all 0.15s linear;
}
.login_form{
    margin-left: 1.5em;
    font-size: 1.025em;
    background-color: #7F7CAF;
    color: #DFE0E2;
    font-weight: bold;
    border: none;
    height: 2.5em;
    width: 6em;
    border-radius: 10px;
    transition: all 0.15s linear;
}
.login:hover, .login_form:hover{
    transform: translate( 0px , -4px);
    transform: scale(1.05);
    box-shadow: 0px 4px lightgray;
    cursor: pointer;
    
}
footer{
    padding-top: 1.5em;
    height: 15%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #13192A;
}
.footer-wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer-container{
    text-align: left;
    font-size: 0.8em;
    line-height: 1.5em;
    height: 80%;
    padding-left: 5%;
}
footer a{
    text-decoration: none;
    color: #DFE0E2;
}
.social-media-icons{
    margin-top: 1em;
}
.social-media-icons a{
    padding-right: 1em;
    text-decoration: none;
    color: #DFE0E2;
    font-size: 1.5em;
    transition: all 0.1s linear;
}
.social-media-icons a:hover{
    transform: scale(1.2);
}
.login_section{
    background-color: #2f437a;
    box-shadow: 6px 8px 4px #41558c;
    border-radius: 15px;
    width: 25%;
    height: 35vh;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
    padding-top: 2em;
}
.form_element{
    margin-bottom: 1.6em;
}
.form_element_actions{
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
}
.form_elements_action_s{
    display: flex;
    justify-content: center;
    align-items: center;
}
#accordionSidebar {
    background: #13192A;
}

.navbar-search {
    padding: 20px;
}

#tabla-actividades {
    border-collapse: separate

}

.card-body {
    color: black;
}

td {
    color: black;
    margin: 15px;
    padding: 15px;
    background: #c8d4f5  
}

tr {
    margin: 15px;
    padding: 15px;
} 

th {
    color: black;
}

.titulo-retro {
    color: black;
}

.contenedor{
    margin: auto;
    background-color: #111d3b;
    width: 800px;
    padding: 30px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#111d3b;
  }
  
  ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: rgb(96, 71, 112);
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
  }

  .text-center {
      text-align: center;
  }
  *.user_creation{
      margin: 10px;
  }
  .user_creation h4{
      text-align: center;
  }
  .user_creation h4, h5{
      color: #575e74;
  }
  .user_creation label{
      color: #111d3b;
      margin-top: 10px;
  }
  .columna{
      column-count: 2;
      margin: 10px;
      column-gap: 30px;
      column-rule: 2px solid rgb(0, 0, 0);
  }
  .user_creation label{
      text-align: center;
  }
  .datos_admi{
      margin: auto;
      padding-left: 20px;
  }
  .input-group{
      margin-top: 20px;
      
  }
  
  .input-group label{
      color: #111d3b;
      margin: 7px;
    
  }
  .input-group input{
      border: 1px solid black;
      
  }
  .container{
      margin: 0%;
      margin-left: 0%;
  }
  .boton_editar{
      margin-top: 0%;
  }
  
  

  

  