{% extends "base.html" %}
    {% block content %}
        <div class="container">
            <div class="container_mision">
                <br>
                <div><img src="../../static/media/nosotros1.jpg" alt="" width="450px"></div>
                <br>
                <h1>Misión {{ dato }}</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur provident aspernatur excepturi itaque dolore quia unde quaerat laboriosam deleniti? Recusandae, modi aspernatur. Dignissimos tenetur maiores veniam ratione consequuntur asperiores perferendis!</p><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa quaerat, reiciendis laborum ullam doloremque ea laboriosam nostrum! Minus quae tempora beatae blanditiis autem quidem soluta, perspiciatis numquam rem! Nihil.</p><br>
            </div>

            <div class="container_vision">
                <br>
                <div><img src="../../static/media/nosotros2.jpg" alt="" width= "450px"></div>
                <br>
                <h1>Visión</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi error debitis explicabo facere, dolore distinctio ipsam temporibus molestias tempora ex consectetur illum tempore fuga totam voluptatum nobis voluptas neque officia!</p><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur provident aspernatur excepturi itaque dolore quia unde quaerat laboriosam deleniti? Recusandae, modi aspernatur. Dignissimos tenetur maiores veniam ratione consequuntur asperiores perferendis!</p><br>
            </div>

            <div class="container_recorrido">
                <br>
                <div><img src="../../static/media/nosotros3.jpg" alt="" width="450px"></div>
                <br>
                <h1>Recorrido</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa quaerat, reiciendis laborum ullam doloremque ea laboriosam nostrum! Minus quae tempora beatae blanditiis autem quidem soluta, perspiciatis numquam rem! Nihil.</p><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi error debitis explicabo facere, dolore distinctio ipsam temporibus molestias tempora ex consectetur illum tempore fuga totam voluptatum nobis voluptas neque officia!</p><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur provident aspernatur excepturi itaque dolore quia unde quaerat laboriosam deleniti? Recusandae, modi aspernatur. Dignissimos tenetur maiores veniam ratione consequuntur asperiores perferendis!</p><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa quaerat, reiciendis laborum ullam doloremque ea laboriosam nostrum! Minus quae tempora beatae blanditiis autem quidem soluta, perspiciatis numquam rem! Nihil.</p><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi error debitis explicabo facere, dolore distinctio ipsam temporibus molestias tempora ex consectetur illum tempore fuga totam voluptatum nobis voluptas neque officia!</p><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur provident aspernatur excepturi itaque dolore quia unde quaerat laboriosam deleniti? Recusandae, modi aspernatur. Dignissimos tenetur maiores veniam ratione consequuntur asperiores perferendis!</p><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ipsa quaerat, reiciendis laborum ullam doloremque ea laboriosam nostrum! Minus quae tempora beatae blanditiis autem quidem soluta, perspiciatis numquam rem! Nihil.</p><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi error debitis explicabo facere, dolore distinctio ipsam temporibus molestias tempora ex consectetur illum tempore fuga totam voluptatum nobis voluptas neque officia!</p><br>
            </div>

        </div>
{% endblock %}