<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href='{{ url_for("static", filename="css/style.css")}}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Petropolis</title>
</head>
<body>
    <div id="wrapper_header">
        <div class="wraper_header_nav">
        <header>
            <img src='{{ url_for("static", filename="media/logo.png")}}' alt:"" width="20%" height="80%"/>
            <h1>Petropolis</h1>
        </header>
        <nav>
            <div class="nav-link"><a href="/">Home</a></div>
           <div class="nav-link"><a href="/nosotros">Nosotros</a></div>
           <div class="nav-link"><a href="/productos">Productos</a></div>
           <div class="nav-link nav-link-end"><a href="">Contactos</a></div>
            <a href="/login"><button class="login">Ingresar</button></a>
        </nav>
        </div>
    </div>
    <main>
            {% block content %}
            {% endblock %}
    </main>
    <footer>
        <div class="footer-wrapper">
            <div class="footer-container">
                <h4>¿Donde comprar?</h4>
                <p>Distribuidores autorizados</p>
            </div>
            <div class="footer-container">
                <h4>Recompensas Petropolis</h4>
                <p>Unete</p>
                <p>Mas información</p>
                <p>Administra tu cuenta</p>
            </div>
            <div class="footer-container">
                <h4>Novedades</h4>
                <p>Sobre Petropolis</p>
                <p>Servicio al producto</p>
                <p>Manuales de productos</p>
                <p>Registro de productos</p>
            </div>
            <div class="footer-container">
                <h4><a href="#">Terminos y condiciones</a></h4>
                <div class="social-media-icons footer-container"> 
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-instagram"></a>
                </div> 
            </div>
        </div>
    </footer>
</body>
</html>