{% extends "base.html" %}
{% block content %}
 <div class="contenedor">
           
                  
                <h1 class="titulo_contactos">CONTACTOS</h1>     
                <section id="contacto" class="contact0">
                  <div class="container aos-init aos-animate" data-aos="fade-up">
            
                    <div class="section-title">
                      <h2>Grupo Petropolis</h2>
                      <br>
                    </div>
            
                    <div class="row mt-1 d-flex justify-content-end aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
            
                      <div class="col-lg-5">
                        <div class="info">
                          <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Estamos Ubicados:</h4>
                            <p>A108 Adam Street, New York, NY 535022</p>
                            <br>
                          </div>
            
                          <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>correoempresa@example.com</p>
                            <br>
                          </div>
            
                          <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Teléfono</h4>
                            <p>+1 5589 55488 55s</p>
                            br
                          </div>
            
                        </div>
            
                      </div>
            
                      <div class="col-lg-6 mt-5 mt-lg-0 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
            
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                          <div class="row">
                            <div class="col-md-6 form-group">
                              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
                            </div>
                          </div>
                          <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
                          </div>
                          <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required=""></textarea>
                          </div>
                        </form>
            
                      </div>
            
                    </div>
            
                  </div>
                </section>
          </div>      
                  
  </div>
{% endblock %}