{% extends "base.html" %}
{% block content %}
 <div class="contenedor">
           
                  
                <h1 class="titulo_contactos">CONTACTO</h1>     
                <section id="contacto" class="contact0">
                  <div class="container aos-init aos-animate" data-aos="fade-up">
            
                    <div class="section-title">
                      <h2>Grupo Petropolis</h2>
                      <br>
                    </div>
            
                    <div class="row mt-1 d-flex justify-content-end aos-init aos-animate" data-aos="fade-right" data-aos-delay="100">
            
                      <div class="col-lg-5">
                        <div class="info">
                          <img class="imagen_contactos" src="/static/media/local.jpg">
                          <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <br>
                            <h4>Estamos Ubicados:</h4>
                            <p><span><i class="fas fa-map-marker-alt"></i></span> A108 Adam Street, New York, NY 535022</p>
                            <br>
                          </div>
            
                          <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p><span><i class="far fa-envelope"></i></span> correoempresa@example.com</p>
                            <br>
                          </div>
            
                          <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Teléfono</h4>
                            <p><span><i class="fas fa-mobile-alt"></i></span> +57 300 456 8520</p>
                            <br>
                          </div>
            
                        </div>
                        
                  </div>
                </section>
          </div>      
                  
  </div>
{% endblock %}