{% extends "./Dashboard/base_dashboard.html" %}
{% block content %}
<div>
  <div class="card-header py-3">
    <h3 class="m-0 font-weight-bold text-primary"></h3>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Datos Empleado</h3>
        <div class="card-body">
          <div class="text-left">
            <div>
              <div id="perfil"><img src="/static/media/Drbrief.png" width="300" height="300" id="logo-perfil"> <img
                  src="/static/media/logo.png" width="110" height="110">

                <p id="nombre-perfil">PEPITO PEREZ FRUTA</p>

              </div>
              <br>
              <br>
            </div>
            <div id="columna-tabla-perfil">
              <div>
                <p id="texto-col-perfil">Datos Personales</p>
                <p>Sexo: Masculino</p>
                <p>Fecha Nacimiento: 15/04/1960</p>
                <p>Edad: 61</p>
                <p>Celular: 3005894623</p>
                <p>Dirección: Dg52 # 54a-30</p>
                <p>Correo: pepitoperez@gmail.com</p>

              </div>
              <div>
                <p id="texto-col-perfil">Datos Administrativos</p>
                <p>Dependencia: Operativa</p>
                <p>Salario: 1`800.000</p>
                <p>Tipo Contrato: Indefinido</p>
                <p>Cargo: Vendedor</p>
                <p>Fecha de Ingreso: 21/12/2018</p>
                <p>Fecha de Salida: N/A</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}