{% extends "./Dashboard/base_dashboard.html" %}
{% block content %}
<div>
  <div class="card-header py-3">
    <h3 class="m-0 font-weight-bold text-primary"></h3>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Datos Empleado</h3>
        <div class="card-body">
          <div class="text-left">
            <div>
              <div id="perfil"><img src="/static/media/Drbrief.png" width="300" height="300" id="logo-perfil"> <img
                  src="/static/media/logo.png" width="110" height="110">

                <p id="nombre-perfil">{{ current_user.Nombre }} {{ current_user.Apellido }} </p>

              </div>
              <br>
              <br>
            </div>
            <div id="columna-tabla-perfil">
              <div>
                <p id="texto-col-perfil">Datos Personales</p>
                <p>Sexo: Masculino</p>
                <p>Fecha Nacimiento: {{ current_user.Fecha_Nacimiento }}</p>
                <p>Edad: {{ current_user.Edad }}</p>
                <p>Celular: {{ current_user.Telefono }}</p>
                <p>Dirección: {{ current_user.Direccion }}</p>
                <p>Correo: {{ current_user.Correo }}</p>

              </div>
              <div>
                <p id="texto-col-perfil">Datos Administrativos</p>
                <p>Dependencia: {{ current_user.Depedencia }}</p>
                <p>Salario: {{ current_user.Salario }}</p>
                <p>Tipo Contrato: Indefinido</p>
                <p>Cargo: {{ current_user.Cargo }}</p>
                <p>Fecha de Ingreso: {{ current_user.Fecha_Ingreso }}</p>
                <p>Fecha de Salida:{{ current_user.Fecha_Salida}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}